
  
    <!-- ##### Hero Area End ##### -->

{% extends "layout.html" %}
  {% block body %}



    <!-- ##### Service Area Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>OUR SERVICES</h2>
                        <p>We provide the perfect service for you.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="alazea-service-area mb-100">

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="img/core-img/s1.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Plants Care</h5>
                                <p>Plant care isn’t always the easiest when you’re unsure of where to start. Once you learn plant care basics and find a routine, you’ll notice all the wonderful benefits of being a plant parent. Research has shown that plants can help you breathe happier and boost your mood just by having them around. Whether you’re decking out your room or office with houseplants, we’ve highlighted some top plant care tips to assist you in taking care of your new plant babies. Following these plant care instructions will come to you as second nature very soon!</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="img/core-img/s2.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Pressure Washing</h5>
                                <p>A detergent-based pressure wash is more environmentally-friendly than bleach as it is typically diluted to a 10:1 water-to-detergent ratio. This makes it less harsh on plants. Caution is required when using detergent as well. Detergent can leave brown spots on plants.</p>
                            </div>
                        </div>

                        <!-- Single Service Area -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="img/core-img/s3.png" alt="">
                            </div>
                            <!-- Content -->
                            
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-video-area bg-overlay mb-100">
                        <img src="{{url_for('static', filename='img/bg-img/23.jpg')}}" alt="">
                        <a href="https://www.youtube.com/watch?v=mEWFUk2BaDY" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    <!-- ##### About Area Start ##### -->
    
    <!-- ##### About Area End ##### -->

    <!-- ##### Portfolio Area Start ##### -->
    
    <!-- ##### Portfolio Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    
    <!-- ##### Testimonial Area End ##### -->

    <!-- ##### Product Area Start ##### -->
   
    <!-- ##### Product Area End ##### -->

    <!-- ##### Blog Area Start ##### -->

{% endblock %}


   